body {
  background-color: #DCAEA9;
  color: white;
  padding: 1px;
  font-family: "Lucida Console", monospace;
  text-align: center;
}

h2.question {
  text-align: left;
  margin-left: 10%;
}

p.q1{
  font-weight: bold;
  color:black
}

